<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="bg-success p-2 text-center text-white">
  This is SportsStore
</div> -->
<app-store></app-store>
<router-outlet></router-outlet>