<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white text-center">
      <a class="navbar-brand">SPORTS STORE</a>
    </div>
  </div>
  <div class="bg-primary mb-1"></div>
  <div class="row text-white">
    <div class="col-5 bg-info p-2">
      {{categories.length}} Categories
    </div>
    <div class="col-7 bg-success p-2">
      {{products.length}} Products
    </div>
  </div>
</div>